@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background: #0b1120;
}

.bg {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* stylelint-disable-next-line declaration-block-no-shorthand-property-overrides */
  background: url("../public/images/GRID.svg"), #0b1120;
}

.grd {
  background: linear-gradient(179.92deg, #0b1120 34.87%, transparent);
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
}

.mds {
  background: #0b1120;
  background: url("../public/images/bg-overlay.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
